<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

<div>
  <label for="nome">Nome</label>
  <input id="nome" formControlName="nome"/>
  <small *ngIf="clienteForm.get('nome')?.touched && clienteForm.get('nome')?.invalid">
    Nome é obrigatório
  </small>
</div>

<div>
  <label for="email">Email</label>
  <input id="email" formControlName="email"/>
  <small *ngIf="clienteForm.get('email')?.touched && clienteForm.get('email')?.invalid">
    Email é obrigatório
  </small>
</div>


<div>
  <label for="telefone">Telefone</label>
  <input id="telefone" formControlName="telefone"/>
  <small *ngIf="clienteForm.get('telefone')?.touched && clienteForm.get('telefone')?.invalid">
    Telefone é obrigatório
  </small>
</div>

<div>
  <label for="dataNascimento">Data de Nascimento</label>
  <input id="dataNascimento" type="date" formControlName="dataNascimento"/>
  <small *ngIf="clienteForm.get('dataNascimento')?.touched && clienteForm.get('dataNascimento')?.invalid">
    Data é obrigatório
  </small>
</div>

<button type="submit" [disabled]="clienteForm.invalid">
  Adicionar Cliente
</button>

</form>
